<launch>
    <arg name="topic1" default="/stereo/left/image" />
    <arg name="topic2" default="/stereo/right/image" />
    <arg name="topic3" default="none" />
    <arg name="topic4" default="none" />
    <arg name="topic5" default="none" />
    <arg name="topic6" default="none" />
    <arg name="topic7" default="none" />
    <arg name="topic8" default="none" />
    <arg name="path" default="$(env PWD)" />
    <arg name="queuesize" default="10" />
    <arg name="transport" default="raw" />

    <node pkg="ros_img_sync" type="img_sync_save" name="img_sync_save" output="screen">
       <param name="queue_size" value="$(arg queuesize)" />
       <param name="transport" value="$(arg transport)" />
       <param name="file_path" value="$(arg path)" />
       <rosparam param="topics" subst_value="True" >
        - $(arg topic1)
        - $(arg topic2)
        - $(arg topic3)
        - $(arg topic4)
        - $(arg topic5)
        - $(arg topic6)
        - $(arg topic7)
        - $(arg topic8)
       </rosparam>
    </node>
</launch>

